.peperuka{
  float: left;
  width: 300px;
  height: 100%;
  padding-bottom: 500px;
  border: 2px solid rgb(199, 172, 172);
}
.peperuka p{
  color: aquamarine;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.bt{
  padding: 10px;
  margin: 2px;
}
.quote{
  font-family: 'Indie Flower', cursive;
  font-style: italic;
  font-size: 20px;

}
.jmbg{
  background-image: url(../images/jumbo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Sriracha', cursive;
}
.bdbg{
  background-image: url('../images/backg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.leftimg
